
.grid-con-icon {
    font-size: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

/*卡片标题*/
.grid-num {
    font-size: 18px;
    font-weight: bold;
}

/*卡片整体*/
.grid-cont-right {
    flex: 1;
    text-align: left;
    font-size: 14px;
    color: #999;
}

/*卡片背景颜色*/
.inpatient-medical-workstation .el-card {
    background-color: rgba(255, 255, 255, 0);
}

/*卡片*/
.grid-content {
    display: flex;
    align-items: center;
    height: 100px;
}


.title {
    color: #68BC6E;
    border-bottom: #68BC6E solid 2px;
}

.el-row {
    margin-top: 10px;
}

.grid-con .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/inpatient.png");
}

.grid-con-1 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/structured-retrieval.png");
}

.grid-con-2 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/patients-to-be-transferred.png");
}

.grid-con-3 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/patient-to-be-transferred-out.png");

}

.grid-con-4 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/medical-record-borrowing.png");

}

.grid-con-5 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/entrusted-signature.png");
}

.grid-con-6 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/departments-share-medical-records.png");
}

.grid-con-7 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/Case-Recycle-Bin.png");
}

.grid-con-8 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/Patient-inquiry.png");
}

.grid-con-9 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.grid-con-10 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.grid-con-11 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.grid-con-12 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.approve-medical-record-inquiry-application .grid-con-icon {
    background-image: url("../img/medical_record_lending/approve-medical-record-inquiry-application.png");
}


.medical-record-browsing .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.medical-record-collection .grid-con-icon {
    background-image: url("../img/medical_record_lending/medical-record-collection.png");
}

.follow-up-of-medical-records .grid-con-icon {
    background-image: url("../img/medical_record_lending/follow-up-of-medical-records.png");
}

.unreceived-medical-records .grid-con-icon {
    background-image: url("../img/medical_record_lending/unreceived-medical-records.png");
}

.event-report .grid-con-icon {
    background-image: url("../img/medical_record_lending/event-report.png");
}

.medical-record-editor .grid-con-icon {
    background-image: url("../img/medical_record_lending/medical-record-editor.png");
}

.integrated-presentation-of-medical-records .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.pathological-examination .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/medical-record-examination.png");
}

.implement-monitoring .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/time-limit-monitoring.png");
}

.medical-record-quality-control-settings .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.statistics-of-scoring-quantity .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.case-scoring-and-filing .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/scoring-and-filing-of-medical-records.png");
}

.hospitalized-patients .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/Hospitalized-patients.png");
}

.car-critical .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/ar-critical.png");
}

.car-operation .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/operation.png");
}

.car-death .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/discharged-from-hospital.png");
}

.discharged-from-hospital .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/discharged-from-hospital.png");
}

.car-other .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/other.png");

}

.templateQualityControl .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/template-quality-control.png");

}

.small-template-quality-control .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

/*超时文档对比统计*/
.timeout-document-comparison-statistics .grid-con-icon {
    background-image: url("../img/report_statistics/timeout-document-comparison-statistics.png");
}

/*病历错误信息统计*/
.medical-record-error-information-statistics .grid-con-icon {
    background-image: url("../img/report_statistics/medical-record-document-statistics.png");
}

/*趋势分析*/
.trend-analysis .grid-con-icon {
    background-image: url("../img/report_statistics/trend-analysis.png");
}

/*超时文档趋势分析*/
.timeout-document-trend-analysis .grid-con-icon {
    background-image: url("../img/report_statistics/timeout-document-trend-analysis.png");
}

/*病历文档统计*/
.medical-record-document-statistics .grid-con-icon {
    background-image: url("../img/report_statistics/medical-record-document-statistics.png");
}

/*病历归档率统计*/
.statistics-of-medical-record-filingRate .grid-con-icon {
    background-image: url("../img/report_statistics/statistics-of-medical-record-filingRate.png");
}

/*自定义报表*/
.custom-report .grid-con-icon {
    background-image: url("../img/report_statistics/custom-report.png");
}

/*病历签字统计*/
.medical-record-signature-statistics .grid-con-icon {
    background-image: url("../img/report_statistics/medical-record-document-statistics.png");
}

/*病历未归档统计*/
.statistics-of-unfilled-medical-records .grid-con-icon {
    background-image: url("../img/report_statistics/statistics-of-unfilled-medical-records.png");
}

/*危急台账*/
.critical-account .grid-con-icon {
    background-image: url("../img/report_statistics/critical-account.png");
}

/*非计划性再次手术*/
.unplanned-reoperation .grid-con-icon {
    background-image: url("../img/report_statistics/unplanned-reoperation.png");
}

/*组织架构数据统计*/
.organization-structure-data-statistics .grid-con-icon {
    background-image: url("../img/report_statistics/organization-structure-data-statistics.png");
}

/*!*心脑发病登记统计*!*/
/*.registration-statisticsa-of-heart-and-brain-diseases {*/
/*background-image: url("../img/report_statistics/");*/
/*}*/

/*!*肿瘤报告统计*!*/
/*.tumor-report-statistics {*/
/*background-image: url("../img/report_statistics/");*/
/*}*/


/*组织架构图*/
.organization-chart .grid-con-icon {
    background-image: url("../img/system_maintenance/organization-chart.png");
}

/*用户管理*/
.user-management .grid-con-icon {
    background-image: url("../img/system_maintenance/user-management.png");
}

/*系统配置*/
.system-configuration .grid-con-icon {
    background-image: url("../img/system_maintenance/system-configuration.png");
}

/*患者信息维护*/
.patient-information-maintenance .grid-con-icon {
    background-image: url("../img/system_maintenance/patient-information-maintenance.png");
}

/*基础字典*/
.basic-dictionary .grid-con-icon {
    background-image: url("../img/system_maintenance/basic-dictionary.png");
}

/*接口配置*/
.interface-configuration .grid-con-icon {
    background-image: url("../img/system_maintenance/interface-configuration.png");
}


/*.医技/麻醉工作站*/
.medical-anesthesia .grid-con-icon {
    background-image: url("../img/medical_anesthesia/medical-anesthesia.png");
}

/*.手术安排*/
.surgical-arrangement .grid-con-icon {
    background-image: url("../img/medical_anesthesia/surgical-arrangement.png");
}


/*查询统计*/
.query-statistics .grid-con-icon {
    background-image: url("../img/clinical_pathway/query-statistics.png");
}

/*出径*/
.outgoing-diameter .grid-con-icon {
    background-image: url("../img/clinical_pathway/outgoing-diameter.png");
}

/*导入路径*/
.import-path .grid-con-icon {
    background-image: url("../img/clinical_pathway/import-path.png");
}

/*护理记录*/
.nursing-records .grid-con-icon {
    background-image: url("../img/clinical_pathway/nursing-records.png");
}

/*路径评估*/
.path-evaluation .grid-con-icon {
    background-image: url("../img/clinical_pathway/path-evaluation.png");
}

/*路径完成*/
.path-complete .grid-con-icon {
    background-image: url("../img/clinical_pathway/path-complete.png");
}

/*生成每日医嘱*/
.generate-daily-orders .grid-con-icon {
    background-image: url("../img/clinical_pathway/generate-daily-orders.png");
}

/*医嘱查询及传送*/
.medical-ddvice-inquiry-andTransmission .grid-con-icon {
    background-image: url("../img/clinical_pathway/medical-ddvice-inquiry-andTransmission.png");
}

/*自定义查询*/
.custom-query .grid-con-icon {
    background-image: url("../img/clinical_pathway/custom-query.png");
}

/*大模版库*/
.large-template-library .grid-con-icon {
    background-image: url("../img/template_maintenance/large-template-library.png");
}

/*小模版库*/
.small-template-library .grid-con-icon {
    background-image: url("../img/template_maintenance/small-template-library.png");
}

/*简单元素库*/
.simple-element-library .grid-con-icon {
    background-image: url("../img/template_maintenance/simple-element-library.png");
}

/*页眉页脚设置*/
.header-and-footer-settings .grid-con-icon {
    background-image: url("../img/template_maintenance/header-and-footer-settings.png");
}

/*复杂元素库*/
.complex-element-library .grid-con-icon {
    background-image: url("../img/template_maintenance/complex-element-library.png");
}

/*段落提纲库*/
.paragraph-outline-library .grid-con-icon {
    background-image: url("../img/template_maintenance/paragraph-outline-library.png");
}

/*母版库*/
.master-library .grid-con-icon {
    background-image: url("../img/template_maintenance/master-library.png");
}


/*药品资料库*/
.drug-database .grid-con-icon {
    background-image: url("../img/medical_databases/drug-database.png");
}

/*常见疾病诊疗规范*/
.diagnosis-and-treatment-standard-of-common-diseases .grid-con-icon {
    background-image: url("../img/medical_databases/diagnosis-and-treatment-standard-of-common-diseases.png");
}

/*ICD-10国际编码库*/
.international-Codebase .grid-con-icon {
    background-image: url("../img/medical_databases/international-Codebase.png");
}

/*医学图片库*/
.medical-pPicture-library .grid-con-icon {
    background-image: url("../img/medical_databases/medical-pPicture-library.png");
}

/*医学适量图形库*/
.medical-moderate-graphics-library .grid-con-icon {
    background-image: url("../img/medical_databases/medical-moderate-graphics-library.png");
}

/*知识采集库*/
.knowledge-collection-library .grid-con-icon {
    background-image: url("../img/medical_databases/knowledge-collection-library.png");
}

/*手术库维护*/
.maintenance-of-surgical-library .grid-con-icon {
    background-image: url("../img/medical_databases/maintenance-of-surgical-library.png");
}

/*诊疗常规*/
.routine-diagnosis-and-treatment .grid-con-icon {
    background-image: url("../img/medical_databases/routine-diagnosis-and-treatment.png");
}

/*体温单选择录入*/
.body-temperature-entry .grid-con-icon {
    background-image: url("../img/medical_databases/body-temperature-entry.png");
}
