
.grid-con-icon {
    font-size: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

/*卡片标题*/
.grid-num {
    font-size: 18px;
    font-weight: bold;
}

/*卡片整体*/
.grid-cont-right {
    flex: 1;
    text-align: left;
    font-size: 14px;
    color: #999;
}

/*卡片背景颜色*/
.inpatient-medical-workstation .el-card {
    background-color: rgba(255, 255, 255, 0);
}

/*卡片*/
.grid-content {
    display: flex;
    align-items: center;
    height: 100px;
}


.title {
    color: #68BC6E;
    border-bottom: #68BC6E solid 2px;
}

.el-row {
    margin-top: 10px;
}

.grid-con .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/inpatient.png");
}

.grid-con-1 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/structured-retrieval.png");
}

.grid-con-2 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/patients-to-be-transferred.png");
}

.grid-con-3 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/patient-to-be-transferred-out.png");

}

.grid-con-4 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/medical-record-borrowing.png");

}

.grid-con-5 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/entrusted-signature.png");
}

.grid-con-6 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/departments-share-medical-records.png");
}

.grid-con-7 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/Case-Recycle-Bin.png");
}

.grid-con-8 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/Patient-inquiry.png");
}

.grid-con-9 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.grid-con-10 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.grid-con-11 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.grid-con-12 .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.approve-medical-record-inquiry-application .grid-con-icon {
    background-image: url("../img/medical_record_lending/approve-medical-record-inquiry-application.png");
}


.medical-record-browsing .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.medical-record-collection .grid-con-icon {
    background-image: url("../img/medical_record_lending/medical-record-collection.png");
}

.follow-up-of-medical-records .grid-con-icon {
    background-image: url("../img/medical_record_lending/follow-up-of-medical-records.png");
}

.unreceived-medical-records .grid-con-icon {
    background-image: url("../img/medical_record_lending/unreceived-medical-records.png");
}

.event-report .grid-con-icon {
    background-image: url("../img/medical_record_lending/event-report.png");
}

.medical-record-editor .grid-con-icon {
    background-image: url("../img/medical_record_lending/medical-record-editor.png");
}

.integrated-presentation-of-medical-records .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.pathological-examination .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/medical-record-examination.png");
}

.implement-monitoring .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/time-limit-monitoring.png");
}

.medical-record-quality-control-settings .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.statistics-of-scoring-quantity .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");
}

.case-scoring-and-filing .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/scoring-and-filing-of-medical-records.png");
}

.hospitalized-patients .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/Hospitalized-patients.png");
}

.car-critical .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/ar-critical.png");
}

.car-operation .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/operation.png");
}

.car-death .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/discharged-from-hospital.png");
}

.discharged-from-hospital .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/discharged-from-hospital.png");
}

.car-other .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/other.png");

}

.templateQualityControl .grid-con-icon {
    background-image: url("../img/medical_record_quality_control_workstation/template-quality-control.png");

}

.small-template-quality-control .grid-con-icon {
    background-image: url("../img/inpatient_medical_workstation/nursing-scheduling.png");

}